:root {
   --sofia: "Sofia Sans", sans-serif;
   --squad: "Squada One", cursive;
   --primaryColor: #0f1e2c;
   --textColor: #5e6d7b;
   /* --blue: #1a58f8;
   --lightBlue: #366cf9; */
   --darkOrange: #f44823;
   --lightOrange: #f66040;

   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--sofia);
   color: var(--primaryColor);
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

@media (max-width: 1050px) {
   :root {
      font-size: 49%;
   }
}
